@import "tailwindcss";

@theme {
  --font-space: "Space Grotesk", sans-serif;
  --font-outfit: "Outfit", sans-serif;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 2, 6, 23;
  --background-end-rgb: 15, 23, 42;
}

body {
  background: radial-gradient(circle at top center, #1e1b4b, #020617);
  color: #fff;
  overflow-x: hidden;
  font-family: var(--font-outfit);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4f46e5;
}
