@import "tailwindcss";

@theme {
  --font-space: "Space Grotesk", sans-serif;
  --font-outfit: "Outfit", sans-serif;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 2, 6, 23;
  --background-end-rgb: 15, 23, 42;
}

/* LENIS SCROLL SETUP */
html.lenis,
html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  background: radial-gradient(circle at top center, #1e1b4b, #020617);
  color: #fff;
  overflow-x: hidden;
  font-family: var(--font-outfit);
}
